<form #registerForm="ngForm" (ngSubmit)="register()">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="form-group">
        <input [(ngModel)]="model.username" placeholder="Username" name="username" type="text" class="form-control">
    </div>

    <div class="form-group">
        <input [(ngModel)]="model.password" placeholder="Password" name="password" type="password" class="form-control">
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>